.site-author-image {
  margin: 0 auto;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
  /* border: $site-author-image-border-width solid $site-author-image-border-color; */
  box-shadow: 0 3px 13px rgba(0,0,0,.65);
  /* box-shadow: 13px 12px 24px rgba(0,0,0,0.65); */
  border-radius: 10px;
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: var(--site-description-color);
  font-weight: $site-author-name-weight;
}

.site-description {
  /* margin-top: $site-description-margin-top; */
  margin: 20px;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: var(--site-description-color);
}
