.posts-expand .post-title {
  font-size: 26px;
  /* text-align: center; */
  word-break: break-word;
  font-weight: $posts-expand-title-font-weight

  +mobile() {
    font-size: 22px;
  }
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: var(--link-color);
  /* color: $grey-dim; */
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;

  +mobile() {
    font-size: 24px;
  }

  &:hover {
    color: var(--link-hover-color);
  }

  /* &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--link-color);
    transform: scaleX(1);
    the-transition();
  }

  &:hover::before {
    transform: scaleX(0);
  } */

  .fa { font-size: 16px; }
}

.posts-expand .post-title, .posts-expand .post-meta {
  text-align: center;
}