.post-body {
  font-family: $font-family-posts;
  +mobile() {
    word-break: break-word;
  }
}

.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.post-body .image-caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: $font-size-base;
  color: $grey-dark;
  font-weight: bold;
  line-height: 1;
}

.post-body .figure .caption {
  @extend .post-body .image-caption;
}

.post-sticky-flag {
  display: inline-block;
  font-size: 16px;
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.use-motion {
  if hexo-config('motion.transition.post_block_else') {
    /* .post-block, */
    .pagination,
    .posts-collapse,
    .comments { opacity: 0; }
  }
  if hexo-config('motion.transition.post_header') { .post-header { opacity: 0; } }
  if hexo-config('motion.transition.post_body') { .post-body { opacity: 0; } }
  if hexo-config('motion.transition.coll_header') { .collection-title { opacity: 0; } }
}



// 文章内锚点样式
.post-body table a[href^="#"],
.post-body ul a[href^="#"],
.post-body p a[href^="#"]{
  color: var(--text-color);
  border-bottom: 1px solid gray;
  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-hover-color);
    word-wrap: break-word;
  }
}

// 文章内链接样式
.post-body a,
.post-body table a,
.post-body ul a,
.post-body p a{
  color: #0593d3;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-hover-color);
    word-wrap: break-word;
  }
}

.tag-cloud {
  text-align: center;

  a {
    color: var(--text-color);
    display: inline-block;
    margin: 10px;
    padding: 2px 20px;
    background: var(--tag-cloud-a-bg-color);
    border-bottom: none;
    border-radius: 18px;
    /* box-shadow: inset 0.475em 0.375em 0.45em 0 #bbb; */
  }
  a:hover { 
    color: var(--link-hover-color);
    background: var(--tag-cloud-a-bg-hover-color);
    border-bottom: none;
    text-decoration: none;
  }
}


@import "post-expand";
@import "post-collapse";
@import "post-type";
@import "post-title";
@import "post-meta";
@import "post-button";
@import "post-tags";
@import "post-nav";
@import "post-eof";
@import "post-gallery";
@import "post-reward" if hexo-config('alipay') or hexo-config('wechatpay') or hexo-config('bitcoin');
@import "post-copyright" if hexo-config('post_copyright.enable');
@import "post-wordcount" if !hexo-config('post_wordcount.separated_meta');
@import "post-widgets" if (hexo-config('facebook_sdk.enable') and hexo-config('facebook_sdk.like_button')) or (hexo-config('vkontakte_api.enable') and hexo-config('vkontakte_api.like')) or hexo-config('rating.enable');
@import "post-rtl";