/* .posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin: 5px;
    font-size: 13px;
  }
} */


/* .posts-expand .post-tags {
  text-align: right;
  a {
    font-size: 16px;
    color: #0593d3;
    padding: 6px 20px;
    background: var(--tag-cloud-a-bg-color);
    border-bottom: none;
    border-radius: 18px;
  }
  a:hover { 
    color: #0593d3;
    background: #3e3e3e;
    border-bottom: none;
    text-decoration: none;
  }
} */


.posts-expand .post-tags {
  text-align: right;

  a {
    color: var(--text-color);
    font-size: 12px;
    display: inline-block;
    margin: 10px;
    padding: 2px 20px;
    background: var(--tag-cloud-a-bg-color);
    border-bottom: none;
    border-radius: 18px;
    box-shadow: inset 3px 4px 8px rgba(0, 0, 0, 0.65);
  }
  a:hover { 
    color: var(--link-hover-color);
    background: var(--tag-cloud-a-bg-hover-color);
    border-bottom: none;
    text-decoration: none;
  }
}